<!DOCTYPE html>
<!-- define our angular app -->
<html ng-app="myApp" ng-controller="myCtrl">

<head>
    <title>Portfolio Rebalancer</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5a2e94">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link id="theme" rel="stylesheet" type="text/css" href="css/theme-pulse.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div id="nav-content">
        <div id="main-title" class="d-inline-block">
            <img src="images/navbar-img.png">
            <h3 class="text-white">Portfolio Rebalancer</h3>
        </div>
        <div id="nav-links" class="d-inline-block">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Portfolios <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<body>
    <div id="content">
        <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Theme</a>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a ng-click="changeTheme('cosmo')" class="dropdown-item" href="#">Cosmo</a>
                    <a ng-click="changeTheme('flatly')" class="dropdown-item" href="#">Flatly</a>
                    <a ng-click="changeTheme('journal')" class="dropdown-item" href="#">Journal</a>
                    <a ng-click="changeTheme('litera')" class="dropdown-item" href="#">Litera</a>
                    <a ng-click="changeTheme('materia')" class="dropdown-item" href="#">Materia</a>
                    <a ng-click="changeTheme('minty')" class="dropdown-item" href="#">Minty</a>
                    <a ng-click="changeTheme('pulse')" class="dropdown-item" href="#">Pulse</a>
                    <a ng-click="changeTheme('simplex')" class="dropdown-item" href="#">Simplex</a>
                    <a ng-click="changeTheme('sketchy')" class="dropdown-item" href="#">Sketchy</a>
                    <a ng-click="changeTheme('slate')" class="dropdown-item" href="#">Slate</a>
                    <a ng-click="changeTheme('solar')" class="dropdown-item" href="#">Solar</a>
                    <a ng-click="changeTheme('spacelab')" class="dropdown-item" href="#">SpaceLab</a>
                    <a ng-click="changeTheme('superhero')" class="dropdown-item" href="#">SuperHero</a>
                    <a ng-click="changeTheme('united')" class="dropdown-item" href="#">United</a>
                </div>
            </li>
            <li class="nav-item" ng-repeat="portfolio in portfolios">
                <a ng-click="select($index)" ng-class="{active: $index===selectedIndex}" class="nav-link" data-toggle="tab" href="#">{{portfolio.name}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" ng-click="addPortfolio()">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </li>
        </ul>
        <div id="options-top" class="card-body">
            <div class="flex-container">
                <div class="flex-item-options">
                    <div class="form-inline">
                        <label class="control-label text-primary">Name</label>
                        <input id="name" type="text" ng-change="populateStorage()" ng-model-options="{debounce: 2000}" ng-model="portfolios[selectedIndex].name" class="form-control">
                    </div>
                </div>
                <div class="flex-item-options">
                    <div class="form-inline">
                        <label class="control-label text-primary">Market Value</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input readonly id="market-val" type="text" ng-model="portfolios[selectedIndex].marketVal" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="flex-item-options">
                    <div class="form-inline">
                        <label class="control-label text-primary">Cash Available</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input id="cash" type="number" placeholder="0" ng-change="totalValue()" ng-model="portfolios[selectedIndex].cash" step="0.01" min="0" class="form-control toggle-input">
                        </div>
                    </div>
                </div>
                <div class="flex-item-options">
                    <div class="form-inline">
                        <label class="control-label text-primary">Total Value</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input readonly id="total-val" type="text" ng-model="portfolios[selectedIndex].totalVal" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="flex-item-options button-area">
                    <button type="button" id="dlt-folio" ng-click="deletePortfolio(selectedIndex)" class="btn btn-outline-danger delete-button dlt-folio">Delete Portfolio</button>
                </div>
            </div>
        </div>
        <div class="card border-secondary" ng-repeat="alloc in portfolios[selectedIndex].allocGroups" ng-init="aIndex = $index">
            <div id="card-header" class="card-header text-primary flex-container">
                <div class="flex-item-title">
                    <form>
                        <label class="control-label">Allocation Group</label>
                        <input class="form-control alloc-name" ng-model="alloc.name" placeholder="Group Name">
                    </form>
                </div>
                <div class="flex-item-title alloc-box">
                        <label class="control-label">Allocation</label>
                        <div id="alloc-current" class="input-group">
                            <input readonly ng-model="alloc.currAlloc" step="0.1" min="0" class="form-control fund-alloc alloc-input" placeholder="0">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                <div class="flex-item-title alloc-box">
                    <form>
                        <label class="control-label">Target</label>
                        <div id="alloc-input" class="input-group">
                            <input class="form-control group-alloc alloc-input w-80" type="number" ng-change="checkGroupAlloc()" ng-model="alloc.allocation" placeholder="0" step="1" min="0" max="100">
                            <div class="input-group-append w-20">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="flex-item-title">
                    <button type="button" ng-click="deleteAllocGroup($index)" id="delete-alloc-group" class="btn btn-outline-danger delete-button">Remove Group</button>
                </div>
            </div>
            <div id="alloc-card" class="card-body">
                <div id="fund-card" class="card bg-light" ng-repeat="fund in alloc.funds">
                    <div id="delete-fund" ng-click="removeFund(selectedIndex, aIndex, $index)">
                        <i class="far fa-trash-alt text-danger"></i>
                    </div>
                    <div class="flex-container">
                        <div class="flex-item">
                            <label class="control-label">Ticker</label>
                            <div id="ticker-input" class="input-group">
                                <input type="text" ng-model="fund.ticker" ng-change="refreshPrice(fund)" ng-model-options="{debounce: 2000}" class="form-control">
                            </div>
                        </div>
                        <div class="flex-item">
                            <label class="control-label">Price
                                <span ng-click="refreshPrice(fund)">
                                    <i id="refresh-fund" class="fas fa-sync-alt"></i>
                                </span>
                            </label>
                            <div id="price-input" class="input-group">
                                <input id="current-price" ng-change="totalValue()" ng-model="fund.price" step="0.01" min="0" class="form-control toggle-input" placeholder="...">
                            </div>
                        </div>
                        <div class="flex-item">
                            <label class="control-label">Shares</label>
                            <div id="shares-input" class="input-group">
                                <input type="number" id="current-shares" ng-change="totalValue()" ng-model="fund.shares" step="1" min="0" class="form-control toggle-input" placeholder="0">
                            </div>
                        </div>
                        <div class="flex-item alloc-box">
                            <label class="control-label">Allocation</label>
                            <div id="alloc-current" class="input-group">
                                <input readonly ng-model="fund.currAlloc" step="0.1" min="0" max="100" class="form-control fund-alloc alloc-input" placeholder="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex-item alloc-box">
                            <label class="control-label">Sub-Target</label>
                            <div id="alloc-input" class="input-group">
                                <input type="number" ng-model="fund.alloc" ng-change="checkFundAlloc()" step="1" min="0" max="100" class="form-control fund-alloc alloc-input" placeholder="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex-item">
                            <label class="control-label">Action</label>
                            <div id="shares-input" class="input-group">
                                <input readonly id="fund-action" ng-model="fund.action" class="form-control" placeholder="Buy/Sell">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="options" class="flex-container">
                    <div id="button-area">
                        <button type="button" ng-click="addFund(selectedIndex, $index, '', '')" id="add-fund-button" class="btn btn-outline-primary">Add Fund</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="options-bottom" class="card-body options">
            <div class="flex-container">
                <div class="option-group">
                    <div id="add-alloc">
                        <button type="button" ng-click="addAllocGroup()" class="btn btn-outline-primary">Add Allocation Group</button>
                    </div>
                </div>
                <div class="option-group">
                    <div id="refresh-prices">
                        <button type="button" ng-click="refreshPrices()" id="refresh-button" class="btn btn-outline-primary stand-btn">Refresh Prices
                            <i id="refresh-sym" class="fas fa-sync-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary text-white" id="group-warning">Group Allocations should total 100%</div>
    <div class="bg-primary text-white" id="fund-warning">Fund Allocations should total 100% for each group</div>
    <div class="bg-primary text-white" id="stock-warning">Unable to fetch some prices, please check stock ticker, refresh price, or enter manually.</div>      
</body>
<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="js/rebalancer.js"></script>
</html>