<!DOCTYPE html>
<!-- define our angular app -->
<html ng-app="myApp" ng-controller="myCtrl" ng-init="pageLoaded()">

<head>
    <title>Portfolio Rebalancer</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5a2e94">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" ng-href="css/theme-{{ theme }}.css">
    <!-- scripts -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
    <script>

    </script>
</head>
<div class="splash">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div id="nav-content">
        <div id="main-title" class="d-inline-block">
            <img src="images/navbar-img.png">
            <h3 class="text-white">Portfolio Rebalancer</h3>
        </div>
        <!-- <div id="nav-links" class="d-inline-block">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Portfolios
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div> -->
    </div>
</nav>

<body>
    <div id="content">
        <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Theme</a>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a ng-click="setTheme('cosmo')" class="dropdown-item" href="#">Cosmo</a>
                    <a ng-click="setTheme('flatly')" class="dropdown-item" href="#">Flatly</a>
                    <a ng-click="setTheme('journal')" class="dropdown-item" href="#">Journal</a>
                    <a ng-click="setTheme('litera')" class="dropdown-item" href="#">Litera</a>
                    <a ng-click="setTheme('materia')" class="dropdown-item" href="#">Materia</a>
                    <a ng-click="setTheme('minty')" class="dropdown-item" href="#">Minty</a>
                    <a ng-click="setTheme('pulse')" class="dropdown-item" href="#">Pulse</a>
                    <a ng-click="setTheme('simplex')" class="dropdown-item" href="#">Simplex</a>
                    <a ng-click="setTheme('sketchy')" class="dropdown-item" href="#">Sketchy</a>
                    <a ng-click="setTheme('spacelab')" class="dropdown-item" href="#">SpaceLab</a>
                </div>
            </li>
            <li class="nav-item" ng-repeat="portfolio in portfolios track by $index">
                <a ng-click="select($index)" ng-class="{active: $index===selectedIndex}" class="nav-link" data-toggle="tab"
                    href="#">{{portfolio.name}}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    <i class="fas fa-plus-circle"></i>
                </a>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">Choose a template</h6>
                    <a class="dropdown-item" href="#" ng-click="addPortfolio('New Blank')">Blank Portfolio</a>
                    <h6 class="dropdown-header">Canadian Couch Potato</h6>
                    <a class="dropdown-item" href="#" ng-click="addTemplate('CCP Consersative',70,10,20)">Conserative</a>
                    <a class="dropdown-item" href="#" ng-click="addTemplate('CCP Cautious',55,15,30)">Cautious</a>
                    <a class="dropdown-item" href="#" ng-click="addTemplate('CCP Balanced',40,20,40)">Balanced</a>
                    <a class="dropdown-item" href="#" ng-click="addTemplate('CCP Assertive',25,25,50)">Assertive</a>
                    <a class="dropdown-item" href="#" ng-click="addTemplate('CCP Aggressive',10,30,60)">Aggressive</a>
                  </div>
            </li>
        </ul>
        <div id="options-top" class="card-body">
            <div class="flex-container">
                <div class="flex-item-options">
                    <div class="form-inline">
                        <label class="control-label text-primary">Name</label>
                        <div id="portfolio-name" class="input-group">
                            <input id="name-input" type="text" ng-change="populateStorage()"
                                ng-model="portfolios[selectedIndex].name" class="form-control">
                            <div class="input-group-append dropdown">
                                <a id="settings-toggle" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="fas fa-cog"></i>
                                </a>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <div class="dropdown-item custom-control custom-radio">
                                        <input id="customRadio1" name="buy-sell" class="custom-control-input" type="radio" ng-value="true" ng-model="portfolios[selectedIndex].buyOnly"
                                            ng-change="totalValue()">
                                        <label class="custom-control-label" for="customRadio1">Buy Only</label>
                                    </div>
                                    <div class="dropdown-item custom-control custom-radio">
                                        <input id="customRadio2" name="buy-sell" class="custom-control-input" type="radio" ng-value="false" ng-model="portfolios[selectedIndex].buyOnly"
                                            ng-change="totalValue()">
                                        <label class="custom-control-label" for="customRadio2">Buy & Sell</label>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <div class="dropdown-item custom-control custom-radio">
                                        <input id="customRadio3" name="dollar-shares" class="custom-control-input" type="radio" ng-value="true"
                                            ng-model="portfolios[selectedIndex].resultShares" ng-change="rebalance()">
                                        <label class="custom-control-label" for="customRadio3">Results in Shares</label>
                                    </div>
                                    <div class="dropdown-item custom-control custom-radio">
                                        <input id="customRadio4" name="dollar-shares" class="custom-control-input" type="radio" ng-value="false"
                                            ng-model="portfolios[selectedIndex].resultShares" ng-change="rebalance()">
                                        <label class="custom-control-label" for="customRadio4">Results in $</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-item-options">
                    <div class="form-inline">
                        <label class="control-label text-primary">Market Value</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input readonly id="market-val" type="text" ng-model="portfolios[selectedIndex].marketVal" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="flex-item-options">
                    <div class="form-inline">
                        <label class="control-label text-primary">Cash Available</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input id="cash" type="number" placeholder="0" ng-change="totalValue()" ng-model="portfolios[selectedIndex].cash"
                                step="0.01" min="0" class="form-control toggle-input">
                        </div>
                    </div>
                </div>
                <div id="total-val" class="flex-item-options">
                    <div class="form-inline">
                        <label class="control-label text-primary">Total Value</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input readonly id="total-val" type="text" ng-model="portfolios[selectedIndex].totalVal" class="form-control">
                        </div>
                    </div>
                </div>
                <div id="total-val" ng-show="portfolios[selectedIndex].resultShares" class="flex-item-options">
                    <div class="form-inline">
                        <label class="control-label text-primary">$ Remaining</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input readonly id="cash-rem" type="text" ng-model="portfolios[selectedIndex].cashRem" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="flex-item-options button-area">
                    <button type="button" id="dlt-folio" ng-click="deletePortfolio(selectedIndex)" class="btn btn-outline-danger delete-button dlt-folio">Delete Portfolio</button>
                </div>
            </div>
        </div>
        <div class="card border-secondary" ng-repeat="alloc in portfolios[selectedIndex].allocGroups track by $index"
            ng-init="aIndex = $index">
            <div id="card-header" class="card-header text-primary flex-container">
                <div class="flex-item-title">
                    <form>
                        <label class="control-label">Allocation Group</label>
                        <input class="form-control alloc-name" ng-model="alloc.name" placeholder="Group Name">
                    </form>
                </div>
                <div class="flex-item-title alloc-box">
                    <label class="control-label">Allocation</label>
                    <div id="alloc-current" class="input-group">
                        <input readonly ng-model="alloc.currAlloc" step="0.1" min="0" class="form-control alloc-input" placeholder="0">
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                </div>
                <div class="flex-item-title alloc-box">
                    <form>
                        <label class="control-label">Target</label>
                        <div id="alloc-input" class="input-group">
                            <input class="form-control group-alloc alloc-input w-80" type="number" ng-change="checkGroupAlloc()"
                                ng-model="alloc.allocation" placeholder="0" step="1" min="0" max="100">
                            <div class="input-group-append w-20">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="flex-item-title">
                    <button type="button" ng-click="deleteAllocGroup($index)" id="delete-alloc-group" class="btn btn-outline-danger delete-button">Remove Group</button>
                </div>
            </div>
            <div id="alloc-card" class="card-body">
                <div id="fund-card" class="card bg-light" ng-repeat="fund in alloc.funds track by $index">
                    <div id="delete-fund" ng-click="removeFund(selectedIndex, aIndex, $index)">
                        <i class="far fa-trash-alt text-danger"></i>
                    </div>
                    <div class="flex-container">
                        <div class="flex-item">
                            <label class="control-label">Ticker</label>
                            <div id="ticker-input" class="input-group">
                                <input id="{{fund.ticker}}-ticker" type="text" ng-model="fund.ticker" ng-change="refreshPrice(fund)" ng-model-options="{debounce: 1000}"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="flex-item">
                            <label class="control-label">Price
                                <span ng-click="refreshPrice(fund)">
                                    <i id="refresh-fund" class="fas fa-sync-alt"></i>
                                </span>
                            </label>
                            <div id="price-input" class="input-group">
                                <input id="current-price" ng-change="totalValue()" ng-model="fund.price" ng-model-options="{debounce: 500}" step="0.01" min="0" class="form-control toggle-input"
                                    placeholder="...">
                            </div>
                        </div>
                        <div class="flex-item">
                            <label class="control-label">Shares</label>
                            <div id="shares-input" class="input-group">
                                <input type="number" id="current-shares" ng-change="totalValue()" ng-model="fund.shares" step="1" min="0"
                                    class="form-control toggle-input" placeholder="0">
                            </div>
                        </div>
                        <div class="flex-item alloc-box">
                            <label class="control-label">Allocation</label>
                            <div id="alloc-current" class="input-group">
                                <input readonly ng-model="fund.currAlloc" step="0.1" min="0" max="100" class="form-control alloc-input"
                                    placeholder="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex-item alloc-box">
                            <label class="control-label">Sub-Target</label>
                            <div id="alloc-input" class="input-group">
                                <input type="number" ng-model="fund.alloc" ng-change="checkFundAlloc()" step="1" min="0" max="100" class="form-control fund-alloc alloc-input"
                                    placeholder="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex-item">
                            <label class="control-label">Action</label>
                            <div id="shares-input" class="input-group">
                                <input readonly id="{{fund.ticker}}-action" ng-model="fund.toBuy" class="form-control" placeholder="{{portfolio.rebalType}}">
                                <div class="valid-feedback">Buy {{action}}</div>
                                <div class="invalid-feedback">Sell {{action}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="options" class="flex-container">
                    <div id="button-area">
                        <button type="button" ng-click="addFund(selectedIndex, $index, '', '')" class="btn btn-outline-primary add-fund-button">Add Fund</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="options-bottom" class="card-body options">
            <div class="flex-container">
                <div class="option-group">
                    <div id="add-alloc">
                        <button type="button" ng-click="addAllocGroup()" class="btn btn-outline-primary">Add Allocation Group</button>
                    </div>
                </div>
                <div class="option-group">
                    <div id="refresh-prices">
                        <button type="button" ng-click="refreshPrices()" id="refresh-button" class="btn btn-outline-primary stand-btn">Refresh Prices
                            <i id="refresh-sym" class="fas fa-sync-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="stock-info" class="alert alert-dismissible alert-primary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Stock prices are for information only. Prices can be delayed up to 20 minutes. US stock data provided for free by <a href="https://iextrading.com/developer"><strong>IEX.</strong><a/>
    </div>
    <div class="bg-danger text-white" id="group-warning">Group Allocations should total 100%</div>
    <div class="bg-danger text-white" id="fund-warning">Fund Allocations should total 100% for each group</div>
    <div class="bg-danger text-white" id="stock-warning">Some Prices Missing. Please check stock ticker, refresh price, or enter manually.</div>
</body>
<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="js/rebalancer.js"></script>

</html>