#main-title>img, #main-title>h2 {
    display: inline-block;
}

#main-title>h2 {
    margin-top: 8px;
}

#main-title>img {
    height: 40px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.form-control {
    max-width: 125px;
    min-width: 60px;
    margin: auto;
}

.custom-select {
    max-width: 150px;
}

#cash {
    max-width: 120px;
    margin-left: 0;
}

#fund-col {
    min-width: 100px;
}

#content {
    width:95%;
    margin:auto;
}

.card {
    max-width: 70rem;
    margin: 16px auto;
}

#options {
    margin-top: 1.5rem;
}

#main-title {
    width: 95%;
    max-width: 70rem;
    margin: auto;
}

thead>tr>th {
    text-align: center;
}

.angular-with-newlines {
    white-space: pre-wrap;
}

.control-label {
    font-size: 1.1rem;
}

.col-md-7 {
    align-items: center;
    display: flex;
}

#rebal-button {
    margin-top: 1rem;
}

h4 {
    text-decoration: underline;
}

#intro, #options{
    margin-top: 1.25rem;
    margin-bottom: 1.75rem;
}