<!DOCTYPE html>
<!-- define our angular app -->
<html ng-app="myApp" ng-controller="myCtrl">
    <head>
        <title>Portfolio Rebalancer</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.json">
        <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5a2e94">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <meta name="theme-color" content="#ffffff">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/pulse/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div id="main-title" >
            <img src="/static/navbar-img.png">
            <h2 class="text-white">Portfolio Rebalancer</h2>
        </div>      
    </nav>
    <body>
        <div id="content">
            <div id="intro">
                <div class="text-primary col-12">
                    <h4 class="card-title">Welcome to the CCP Portfolio Rebalancer</h4>
                    <p class="card-text">Use this tool to rebalance your Canadian Couch Potato ETF portfolio</p>
                </div>
            </div>
            <div id="fund-table" class="text-primary mb-3 container col-12 table-responsive">
                <h4>Current Allocations</h4>
                <table class="table table-hover col-12">
                    <thead>
                        <tr>
                            <th scope="col" id="fund-col">Fund Ticker</th>
                            <th scope="col">Current Price</th>
                            <th scope="col">Shares Owned</th>
                            <th scope="col" ng-bind="target" class="angular-with-newlines"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="fund in funds">
                            <th><input type="text" ng-model="fund.ticker" class="form-control"></th>
                            <td><input type="number" ng-model="fund.price" step="0.01" min="0" class="form-control" placeholder="0"></td>
                            <td><input type="number" ng-model="fund.shares" min="0" class="form-control" placeholder="0"></td>
                            <td><input type="number" ng-model="fund.alloc" ng-change="change({a $index a})" min="0" max="100" class="form-control" ng-class="invalidForm" ng-readonly="$last"></td>
                    </tbody>
                </table>
            </div>
            <div id="options">
                <div class="text-primary col-12">
                    <h4>Options</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label text-primary">Cash to distribute</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                                </div>
                                <input id="cash" type="number" ng-model="cash" step="0.01" min="0" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label text-primary">Rebalance type</label>
                            <div class="input-group mb-3">
                                <select class="custom-select" ng-model="rebalanceType">
                                    <option selected>Buy Only</option>
                                    <option >Buy & Sell *NotReady</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="button" ng-click="rebalance()" id="rebal-button" class="btn btn-primary btn-lg">Calculate</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rebalance-results" class="text-primary mb-3 container col-12 table-responsive">
                <h4>Results</h4>
                <table class="table table-hover col-12">
                    <thead>
                        <tr>
                            <th scope="col" id="fund-col">Fund Ticker</th>
                            <th scope="col">Current Allocation</th>
                            <th scope="col">Buy / Sell (Shares)</th>
                            <th scope="col" class="angular-with-newlines">New Allocation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="fund in funds">
                            <th><input readonly type="text" ng-model="fund.ticker" class="form-control"></th>
                            <td><input readonly type="text" value="{a currAlloc(fund) a}" class="form-control"></td>
                            <td><input readonly type="text" value="{a fund.toShares a}" class="form-control"></td>
                            <td><input readonly type="text" value="{a fund.newAlloc a}" class="form-control"></td>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="{{ url_for('static', filename='rebalancer.js') }}"></script>
</html>
