#main-title>img, #main-title>h2 {
    display: inline-block;
}

#main-title>h2 {
    margin-top: 10px;
}

#main-title>img {
    height: 40px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.form-control {
    max-width: 125px;
    min-width: 60px;
}

.custom-select {
    max-width: 150px;
}

#cash {
    max-width: 120px;
    margin-left: 0;
}

#fund-col {
    min-width: 100px;
}

#content {
    width:95%;
    margin:auto;
    max-width: 60rem;
}

.card {
    max-width: 70rem;
    margin: 16px auto;
}

#main-title {
    width: auto;
    max-width: 70rem;
    margin: auto;
}

.angular-with-newlines {
    white-space: pre-wrap;
}

.control-label {
    font-size: 1.1rem;
}

#button-area {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    vertical-align: bottom;
}

#rebal-button {
    margin: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}

h4 {
    text-decoration: underline;
    display: inline-block;
    margin-left: 1rem;
}

#intro, #options{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 12px;
}

.option {
    width: 160px;
    margin-right: 15px;
    vertical-align: bottom;
}

#stock-warning {
    margin-bottom: 0;
    padding-left: 0.75rem;
    display: none;
}

.table {
    margin-bottom: 0.5rem !important;
}

#fund-button, #refresh-button {
    display: inline;
    margin: 0.5rem 0 0.5rem 1rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
}

#holding-btns {
    display: inline-block;
}

#remove-button, #refresh-fund {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
}

.remove-cell {
    width: 46px;
    text-align: center;
}

#refresh-sym, #add-sym {
    margin-left: 0.5rem;
}

nav {
    padding: 0.75rem;
    margin-bottom: 1rem;
}

#cur-alloc {
    vertical-align: bottom;
}

.remove-btn {
    max-width: 100px;
    display: inline-block;
}

.table-inline {
    display: inline-block !important;
}

#current-price {
    display: inline;
    margin: 0 0.25rem 0.25rem 0;
}

#refresh-col {
    padding: 0;
    vertical-align: middle;
}

#cur-price-col {
    padding-left: 0.25rem;
}