#main-title>img, #main-title>h2 {
    display: inline-block;
}

#main-title>h2 {
    margin-top: 10px;
}

#main-title>img {
    height: 40px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.nav-tabs {
    font-size: 1.25rem;
}

#title-tab {
    font-weight: bold;
}

#title-tab:hover {
    border: 1px solid transparent;
    border-width: 0 0 1px 0;
}

.form-control {
    max-width: 160px;
    margin-right: 0.5rem;
}

.alloc-name {
    max-width: 300px;
}

.custom-select {
    max-width: 150px;
}

#cash, #total-val {
    max-width: 125px;
    margin-left: 0;
}

#fund-col {
    min-width: 100px;
}

.inline-label {
    margin-right: 0.5rem;
}

#content {
    width:95%;
    margin:auto;
    max-width: 50rem;
    padding-bottom: 1.75rem;
}

.card {
    margin: 16px auto;
}

#main-title {
    width: auto;
    margin: auto;
}

.angular-with-newlines {
    white-space: pre-wrap;
}

.control-label {
    font-size: 1rem;
    margin: 0.5rem 0 0.25rem;
}

.button-area {
    align-items: center;
    margin-top: auto;
}

.delete-button {
    margin-top: 1rem;;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    vertical-align: bottom !important;
}

.card {
    border-radius: 10px;
}

h4 {
    text-decoration: underline;
    display: inline-block;
}

#card-header {
    padding-bottom: 0px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.option-group {
    max-width: 320px;
    display: table;
    padding-bottom: 0.75rem;
    margin-right: 0.5rem;
}

#name {
    max-width: 175px;
}

.table {
    margin-bottom: 0.5rem !important;
}

#fund-button {
    display: inline;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}

#holding-btns {
    display: inline-block;
}

#remove-button, #refresh-fund {
    display: inline;
    margin: 0 0.5rem;
    padding: 0;
    font-size: 1.25rem;
    cursor: pointer;
}

.remove-cell {
    width: 46px;
    text-align: center;
}

#refresh-sym, #add-sym {
    margin-left: 0.5rem;
}

nav {
    padding: 0.75rem;
    margin-bottom: 1rem;
}

#cur-alloc {
    vertical-align: bottom;
}

.remove-btn {
    max-width: 100px;
    display: inline-block;
}

.table-inline {
    display: inline-block !important;
}

#current-price {
    display: inline;
    margin: 0 0.25rem 0.25rem 0;
}

#refresh-col {
    padding: 0;
    vertical-align: middle;
}

#cur-price-col {
    padding-left: 0.25rem;
}

.alloc-input {
    margin-right: 0;
}

#delete-alloc-group {
    margin: auto;
}

#alloc-card {
    padding : 0.75rem;
}

#fund-card {
    padding: 0.75rem;
    margin-top: 0;
}

#ticker-input, #price-input, #shares-input {
    width: 100%;
}

#delete-fund {
    margin: 35px 10px 0 20px;
    cursor: pointer;
}

.flex-item {
    flex: 1 0 100px;
}

.flex-item-title {
    flex: 1 0 125px;
    margin: auto 0.75rem 0 auto;
    padding-bottom: 0.75rem;
}

.flex-item-options {
    flex: 1 0 120px;
    margin-right: 0.75rem;
}

#options-top, #options-bottom {
    padding: 0.75rem;
}

#stock-warning {
    display: none;
    position: fixed;
    bottom: 0;
    background: #593196;
    color: white;
    width: 100%;
    min-height: 2rem;
    font-size: 1rem;
    text-align: center;
    padding-top: 0.25rem;
}