.splash {
    background:white;
    position: absolute;
    left: 0;
    top: 0 ;
    z-index: 999;
    -webkit-animation: cssAnimation 3s forwards; 
    animation: cssAnimation 3s forwards;
    }

    @keyframes cssAnimation {
        0%  {opacity: 1;
            width: 100%;
            height: 100%}
        75%  {opacity: 1;
            width: 100%;
            height: 100%}
        100% {opacity: 0;
            width: 0;
            height: 0}
        }
    @-webkit-keyframes cssAnimation {
        0%  {opacity: 1;
            width: 100%;
            height: 100%}
        75%  {opacity: 1;
                width: 100%;
                height: 100%}
        100% {opacity: 0;
                width: 0;
                height: 0}
        }

.spinner {
    margin: 40% auto;
    width: 100px;
    height: 80px;
    text-align: center;
    font-size: 10px;
    -webkit-animation: spinnerAnimation 3s forwards; 
    animation: spinnerAnimation 3s forwards;
  }

  @keyframes spinnerAnimation {
    0%  {opacity: 1;}
    75%  {opacity: 1;}
    100% {opacity: 0;}
  }
  @-webkit-keyframes spinnerAnimation {
        0%  {opacity: 1;}
        75%  {opacity: 1;}
        100% {opacity: 0;}
  }
  
  .spinner > div {
    background: slategrey;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

#main-title>img, #main-title>h3 {
    display: inline-block;
}

#main-title>h3 {
    margin-top: 1rem;
}

#main-title>img {
    height: 40px;
    margin-bottom: 8px;
    margin-right: 8px;
}

#nav-content {
    width: 100%;
    max-width: 60rem;
    padding: 0.75rem;
    margin:auto;
}

#nav-links {
    float: right;
    padding-top: 0.75rem;
}

.nav-tabs {
    font-size: 1.25rem;
}

#title-tab:hover {
    border: 1px solid transparent;
    border-width: 0 0 1px 0;
}

.form-control {
    max-width: 160px;
    margin-right: 0.5rem;
}

.alloc-name {
    max-width: 300px;
}

.custom-select {
    max-width: 150px;
}

#cash, #total-val {
    max-width: 125px;
    margin-left: 0;
}

#fund-col {
    min-width: 100px;
}

.inline-label {
    margin-right: 0.5rem;
}

#content {
    width:95%;
    margin:auto;
    max-width: 60rem;
    padding-bottom: 1.75rem;
}

.card {
    margin: 16px auto;
}

#main-title {
    width: auto;
    margin: auto;
}

.angular-with-newlines {
    white-space: pre-wrap;
}

.control-label {
    font-size: 1rem;
    margin: 0.5rem 0 0.25rem;
}

.button-area {
    align-items: center;
    margin-top: auto;
}

.delete-button {
    margin-top: 1rem;;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    vertical-align: bottom !important;
}

.card {
    border-radius: 10px;
}

h4 {
    text-decoration: underline;
    display: inline-block;
}

#card-header {
    padding-bottom: 0px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.option-group {
    max-width: 320px;
    display: table;
    padding-bottom: 0.75rem;
    margin-right: 0.5rem;
}

#name-input {
    max-width: 175px;
    min-width: 130px;
    margin-right: 0;
}

#settings-toggle {
    min-width: 3rem;
    margin:auto;
    text-align: center;
}

.dropdown-menu {
    padding: 0.75rem !important;
}

.input-group {
    flex-wrap: nowrap !important;
}

#total-val {
    max-width: 175px;
}

.table {
    margin-bottom: 0.5rem !important;
}

#fund-button {
    display: inline;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}

#holding-btns {
    display: inline-block;
}

#remove-button, #refresh-fund {
    display: inline;
    margin: 0 0.5rem;
    padding: 0;
    font-size: 1.25rem;
    cursor: pointer;
}

.remove-cell {
    width: 46px;
    text-align: center;
}

#refresh-sym, #add-sym {
    margin-left: 0.5rem;
}

nav {
    padding: 0.75rem;
    margin-bottom: 1rem;
}

#cur-alloc {
    vertical-align: bottom;
}

.remove-btn {
    max-width: 100px;
    display: inline-block;
}

.table-inline {
    display: inline-block !important;
}

#current-price {
    display: inline;
    margin: 0 0.25rem 0.25rem 0;
}

#refresh-col {
    padding: 0;
    vertical-align: middle;
}

#cur-price-col {
    padding-left: 0.25rem;
}

.alloc-box {
    max-width: 8rem;
}

.alloc-input {
    margin-right: 0;
}

#delete-alloc-group {
    margin: auto;
}

#alloc-card {
    padding : 0.75rem;
}

#fund-card {
    padding: 0.25rem 1.25rem 1.25rem;
    margin-top: 0;
}

#ticker-input, #price-input, #shares-input {
    width: 100%;
}

#fund-card .flex-item{
    max-width: 150px;
}

.input-group-append {
    margin-right: 0.5rem;
}

#delete-fund {
    font-size: 1.1rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin: 10px 5px;
    cursor: pointer;
}

.flex-item {
    flex: 1 0 100px;
}

.flex-item-title {
    flex: 1 0 125px;
    margin: auto 0.75rem 0 auto;
    padding-bottom: 0.75rem;
}

.flex-item-options {
    flex: 1 0 130px;
    margin-right: 0.75rem;
}

#options-top, #options-bottom {
    padding: 0.75rem;
}

#stock-warning, #group-warning, #fund-warning {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 0.25rem;
}

#stock-warning {
    z-index: 998;
}

#group-warning {
    z-index: 997;
}

#fund-warning {
    z-index: 996;
}